.house-edit{
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 20px;
    nav{
        margin-right: 10px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;

            li{
                display: flex;
                align-items: center;
                font-family: CerealBd;
                padding: 10px;
                gap: 10px;

                &:hover{
                    box-shadow: 0 0 2px 1px #dddddd;
                }

                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .edit-section{
        display: grid;
        grid-template-rows: 80px 1fr;
        padding: 10px;
        background-color: #eff3f5;
        border-radius: 10px;

        .house-data{
            display: flex;
            gap: 10px;

            div{
                width: 150px;
                background-color: white;
                border-radius: 10px;
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
                display: grid;
                align-items: center;
                &:last-child{
                    flex-grow: 1;
                }
            }

        }
        .house-info{
            background-color: white;
            margin-top: 10px;
            border-radius: 10px;
            padding: 10px;
            
            .house-name{
                 h2{
                    margin: 5px 0 0 0;
                 }
            }
        }
    }
}