.stay-app{
    display: grid;
    grid-template-rows: 80px 1fr;
    position: relative;

    .exolore-sub-header{
        display: flex;
        align-items: center;
        font-family: CerealBd;
        font-size: 1em;
    }
}