.main-header {
  // display: flex;
  // flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  // height: 64px;
  position: relative;
  z-index: 12;

  border-bottom: 1px solid #a9a6a65c;

  button {
    border: 0;
  }

  .logo {
    justify-self: start;
    padding-left: 10px;
  }
  .user {
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;

    .become-host {
      // font-family: Cereal-medium;
      text-decoration: none;
      cursor: pointer;
      background-color: transparent;
      height: fit-content;
    }
    .explore-btn {
      display: flex;
      height: 15px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      margin-left: 15px;
      margin-right: 15px;
    }
    .user-menu-btn {
      display: flex;
      color: #484848;
      padding: 5px 5px 5px 10px;
      border-radius: 21px;
      background-color: #fff;
      font-size: 16px;
      border: 1px solid #ddd;
      line-height: 20px;
      button {
        display: flex;
        border: none;
        text-decoration: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        background-color: transparent;
        height: fit-content;
        .menu-btn {
          margin-right: 9px;
          width: 17px;
          height: 30px;
        }
        .host-image {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
    }
  }
  .main-search-container {
    justify-self: center;
  }
  > * {
    grid-row: 1;
  }

  .user-nav {
    color: #222;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 80px;
    background-color: #fff;
    border-radius: 12px;
    width: 240px;
    box-shadow: #0000002e 0 0 3px;
  }
  .user-nav-in {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: #0000002e 0 0 3px;
    a:first-child {
      margin-top: 5px;
    }
    a {
      padding: 15px 20px;
      text-decoration: none;
    }
  }
}
