.main-header {
  // display: flex;
  // flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  // height: 64px;
  position: relative;
  z-index: 12;

  border-bottom: 1px solid #a9a6a65c;

  button {
    border: 0;
  }

  .logo{
    justify-self: start;
  }
  .user{
    justify-self: end;
  }
  .main-search-container{
    justify-self: center;
  }
  >*{
    grid-row: 1;
  }
}
