.app-mobile-footer {
    overflow-x: hidden;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    border-top: 1px solid #dddddd;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    font-family: CerealReg;
    padding-top: 10px;
    font-size: em(18px, 16px);

    
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        .icon-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            cursor: pointer;
            img {
                height: 24px;
                &.user-img{
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            h1 {
                font-size: 10px;
                color: #717171;
            }
            .selected{
                color: #ff5555 !important;
            }
        }
        .info{
            position: fixed;
            top: 0;
            right: 0;
            background-color: red;
        }
    }
}

@media (max-width: 400px) {
    .app-mobile-footer {
        display: block;
    }
}
