.house-filter {
  display: flex;
  align-items: center;
  height: 78px;
  $clr-secondary: #b0b0b0;
  // width: 100%;

  .secondary {
    color: $clr-secondary;
  }
  .filter-buttons {
    display: flex;

    .fil-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    div {
      margin-top: 8px;
    }
    button {
      height: 78px;
      margin-right: 19px;
      margin-right: 19px;
      background-color: #ffffff00;
      border: 1px solid transparent;
    }
  }
  .btn-filters {
    background-color: #00000000;
    cursor: pointer;
    border: 1px solid rgba(121, 120, 120, 0.753);
    height: 48px;
    width: 90px;
    padding: 13px;
    border-radius: 14px;
    img {
      height: 12px;
      width: 12px;
    }
  }
  .carousel {
    flex-grow: 1;
  }
  .carousel__slide {
    width: max-content !important;
  }
}
