.main-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  width: 355px;
  padding: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  transition: box-shadow 0.2s ease;
  cursor: grab;

  >*{
    cursor: grab;
  }

  .main-search {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;

    >*{
      cursor: grab;
    }
    
    span {
      flex: 0 0 1px;
      height: 24px;
      width: 1px;
      background-color: #dddddd;
    }
    .search-btn {
      background-color: transparent;
    }
    button:not(:last-child) {
      font-weight: bold;
    }
  }
  .little-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff385c;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    img {
      fill: none;
      height: 12px;
      width: 12px;
      stroke: currentcolor;
      stroke-width: 5.33333;
      overflow: visible;
    }
  }
}
