.house-list{
    display: grid;
    padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    grid-template-columns: minmax(auto-fill,1fr);
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;

    a{
        all: unset;
    }

    @media (min-width: 400px){
        justify-content: space-between;
        grid-template-columns: repeat(2,1fr)
    }
    @media (min-width: 600px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1000px){
        grid-template-columns: repeat(4, 23%);
    }
    @media (min-width: 1720px){
        grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width: 1840px){
        grid-template-columns: repeat(6, 1fr);
    }
}