.house-filter {
  // display: flex;
  align-items: center;
  // height: 78px;
  $clr-secondary: #b0b0b0;
  // width: 100%;
  // box-shadow: 0px 1px 2px 0px #dddddd;
  position: sticky;
  top: 80px;
  z-index: 2;
  background-color: white;
  // margin-top: 80px;
  @media(max-width: 400px){
    border-bottom: 1px solid #a9a6a65c;
  }

  .carousel__prev {
    margin: 0;
  }

  .secondary {
    color: $clr-secondary;
  }

  //? -----------------------------
  .btn-filters {
    background-color: #00000000;
    cursor: pointer;
    border: 1px solid rgba(121, 120, 120, 0.753);
    height: 48px;
    width: 90px;
    padding: 13px;
    border-radius: 14px;
    z-index: 1;

    @media (max-width: 400px){
      display: none;
    }
    img {
      height: 12px;
      width: 12px;
    }
  }

  //?--------------------------
  .imgKey {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: CerealMd, Arial, sans-serif;
    margin-top: 8px;
    filter: opacity(0.9);
    color: #717171;
    span:hover{
      box-shadow: 0px 2px 0px 0px #dddddd;
    }
  }
  .img-btn{
    filter: opacity(0.7);
  }
  .carousel {
    flex-grow: 1;
    width: 90%;
  }
  .carousel__slide {
    width: 80px !important;
    
  }
  .carousel__slide:first-child{
    margin-left: -28px;
  }
  .carousel__next--disabled, .carousel__prev--disabled{
    cursor: auto;
    pointer-events: none;
    opacity: 0 !important;
}

  .carousel__next {
    height: 28px;
    width: 28px;
    /* border: 1px solid; */
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
  }

  .carousel__icon {
    height: 28px;
    width: 28px;
    border-radius: 22px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid gray;
    // border-radius: 65%;
    // box-shadow: -12px 1px 5px 20px #fffefe;
    box-shadow: 1px 1px 14px 25px #ffffff;
  }
}
