
.filter-modal-container {
  
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  
}

@font-face {
  font-family: Circular;
  src: url(../fonts/FlowCircular-Regular.ttf) format('opentype');
}


.filter-modal {
  align-items: center;
  position: relative;
  padding-inline: 15px;
  color: #222222;
  border: 1px solid #9c9a9a38;
  border-radius: 10px;
  width: 780px;
  height: 80vh;
  overflow: auto;
  .form-header {
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);
    button{
      background-color: #22222200;
      border: 1px solid rgba(0, 0, 0, 0);
      justify-self: start;
      height: 16px;
      width: 16px;
    }
    p{
      font-size: 16px;
      margin: 0 auto;
      font-weight: 800 !important;
      line-height: 20px !important;
      font-family: 'Open Sans', sans-serif;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(235, 235, 235);
    padding: 0;
    padding: 16px 24px;
  }
}

