
.login-layout {
  background-color: #fff;
  max-width: 550px;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%, 10%);
  box-shadow: rgb(0 0 0 / 28%) 0 8px 28px;
  border-radius: 31px;
  overflow: hidden;
  margin-top: 100px;
  z-index: 10;

  .login-container {
    cursor: auto;
    width: 551px;
    background-color: #fff;
    border-radius: 12px;
    
    .login-title-cont {
      // height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgb(235, 235, 235) !important;
      height: 50px;

      .login-title {
        margin-left: 32px;
        cursor: default;
        font-family: CerealBd, Arial, sans-serif;
      }
      .exit-login-btn {
        position: relative;
        left: -322px;
        border-radius: 50%;
        padding: 8px;
        transition: 0.2s;
        cursor: pointer;
        img {
          display: block;
          fill: none;
          height: 16px;
          width: 16px;
          stroke: currentcolor;
          stroke-width: 3;
          overflow: visible;
        }
      }
    }

    .login-main-content {
      padding: 24px;
      .login-header {
        font-family: CerealMd, Arial, sans-serif;
        cursor: default;
        letter-spacing: 0.29px;
        margin-top: 8px !important;
        margin-bottom: 24px !important;
        font-size: 22px;
        height: 20%;
      }
      .login-form-cont {
        width: 100%;
        height: 112px;
        border-radius: 8px;
        border: 1px solid rgba(27, 27, 27, 0.34);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          font-size: 16px;
          padding-left: 12px;
          height: 47.5%;
          border: 0;
          border-radius: 8px;
        }
        .form-line {
          height: 0.5px;
          width: 100%;
          background-color: #1b1b1b57;
        }
      }
      .btn-container {
        font-family: inherit;
        width: 100%;
        color: white;
        border: none;
        background: radial-gradient(
          circle at left,
          #ff385c 0%,
          #e61e4d 27.5%,
          #e31c5f 40%,
          #d70466 57.5%,
          #bd1e59 75%,
          #bd1e59 100%
        );
        border-radius: 10px;
        font-weight: 600;
        height: 50px;
        transition: 1s;
        margin: 30px 0 28px;
        font-size: 16px;
      }
      .login-or-line {
        height: 0.5px;
        width: 100%;
        background-color: #ddd !important;
      }
      .login-line-text {
        cursor: default;
        width: fit-content;
        margin: -9px auto auto;
        padding: 0 12px;
        background-color: #fff;
        font-family: circular-light;
        font-size: 12px;
        color: #484848;
      }
      .move-to-signup {
        cursor: pointer;
        color: #000;
        font-family: CircularLight;
        margin: 15px auto auto;
        width: fit-content;
        text-decoration: underline;
      }
      .sign-up-form-cont {
        width: 100%;
        height: 168px;
        border-radius: 8px;
        border: 1px solid rgba(27, 27, 27, 0.34);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          font-size: 16px;
          padding-left: 12px;
          height: 31%;
          border: 0;
          border-radius: 8px;
        }
        .form-line {
          height: 0.5px;
          width: 100%;
          background-color: #1b1b1b57;
        }
      }
    }
  }
}
