.order-container {
    > * {
        border-radius: 10px;
        // box-shadow: 0 1px 20px 13px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        border: 1px solid rgb(202, 202, 202);
        background-color: white;
        padding: 10px;
    }

    h2 {
        padding-block: 15px;
    }

    .order-list {
        height: 57vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        // gap: 10px;

        p {
            margin: 0;
        }
    }
}
