.stay-filter {
    align-items: center;
    $clr-secondary: #b0b0b0;
    // padding-top: 10px;
    // padding-bottom: 10px;
    position: sticky;
    top: 80px;
    z-index: 2;
    background-color: white;
    &.scrolled {
        border-bottom: 1px solid #a9a6a65c;
    }
    @media (max-width: 400px) {
        border-bottom: 1px solid #a9a6a65c;
    }
    .carousel__track {
        gap: 10px;
    }

    .carousel__prev {
        margin: 0;
    }

    .secondary {
        color: $clr-secondary;
    }
    .filter-wrapper {
        margin-block-start: 10px;
        margin-block-end: 10px;
        flex: 1;
        overflow: auto;
        display: flex;
        &::-webkit-scrollbar{
            display: none;
        }
        .scroll-wrapper{
            position: absolute;
            height: 100%;
            // top: 0;
            // bottom: 0;
            // width:100px;
            z-index: 10;
        }
        .scroll {
            padding: 5px 10px;
            background-color: #fff;
            border: 0.8px solid rgba($color: #000000, $alpha: 0.3);
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            top: 50%;
            align-self: center;
            height: 28px;
            width: 28px;
            // margin-inline: 5px;
            display: grid;
            place-content: center;
            transform: translateY(-50%);
            box-shadow: 17px 1px 14px 30px #ffffff;
            &:hover {
                scale: 1.04;
                box-shadow: 17px 1px 14px 30px #ffffff, 0 6px 16px rgba(0, 0, 0, 0.12);
            }
            &.hidden{
                opacity: 0;
                pointer-events: none;
            }
            @media(max-width: 400px){
                display: none;
            }
            &:not(.right) {
                left: 0;
            }
            &.right {
                right: 10px;
            }
        }
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        position: relative;
        .filter-btns {
            // flex: 1;
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            display: flex;
            
            article {
                // height: 100%;
                min-width: 70px;
                text-align: center;
                width: max-content;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                cursor: pointer;
                // padding-bottom: 10px;
                margin-right: 20px;
                // &:not(:first-child) {
                //     margin-inline: 25px;
                // }
                // &:first-child {
                //     margin-inline-end: 25px;
                // }
                img {
                    align-self: center;
                    height: 24px;
                    aspect-ratio: 1/1;
                    filter: opacity(0.7);
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                    font-weight: 600;
                    color: #717171;
                }
                &.selected {
                    box-shadow: inset 0px -2px 0px 0px black !important;
                    img {
                        filter: opacity(1);
                    }
                    p {
                        color: black;
                    }
                }
                &:hover {
                    box-shadow: inset 0px -2px 0px 0px #dddddd;
                    img {
                        filter: opacity(1);
                    }
                    p {
                        color: black;
                    }
                }
            }
        }
        .scrollers {
            position: absolute;
            // inset: 0 0 0 0;
            width: 100%;
            top: 50%;
            // height: 100%;
            // transform: translateY(-50%);
            
            .scroll {
                padding: 5px 10px;
                border: 0.8px solid rgba($color: #000000, $alpha: 0.3);
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                height: 28px;
                width: 28px;
                display: grid;
                place-content: center;
                transform: translateY(-50%);
                &:hover {
                    scale: 1.04;
                    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
                }
                &:not(.right) {
                    left: 10px;
                }
                &.right {
                    right: 10px;
                }
            }
        }
    }
    .btn-filters {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00000000;
        cursor: pointer;
        border: 1px solid #dddddd;
        height: 48px;
        width: 90px;
        border-radius: 12px;
        z-index: 1;

        p {
            padding-left: 5px;
            margin: 0;
            font-family: "CerealMd";
            font-size: 12px;
        }

        @media (max-width: 400px) {
            display: none;
        }

        svg {
            height: 14px;
            width: 14px;
        }
    }
    .imgKey {
        display: flex;
        justify-content: center;
        font-size: em(13px, 16px);
        // font-weight: bold;
        font-family: CerealMd, Arial, sans-serif;
        margin-top: 8px;
        // width: 50px;
        filter: opacity(0.9);
        color: #929292;
    }
    .img-btn {
        filter: opacity(0.7);
    }
    .carousel {
        flex-grow: 1;
        width: 90%;
    }
    .carousel__slide {
        justify-content: start !important;
        gap: 10px;

        .slide-wrapper {
            min-width: 60px;

            .img-wrapper {
                width: max-content;
                padding-block: 10px;
                cursor: pointer;
                transition: all 0.2s;

                &.selected {
                    box-shadow: inset 0px -2px 0px 0px black !important;

                    .imgKey {
                        color: black;
                    }
                }

                &:hover {
                    box-shadow: inset 0px -2px 0px 0px #dddddd;

                    .imgKey {
                        transition: all 0.2s ease-out;
                        color: black;
                    }
                }
            }
        }
    }
    .carousel__next--disabled,
    .carousel__prev--disabled {
        cursor: auto;
        pointer-events: none;
        opacity: 0 !important;
    }

    .carousel__next,
    .carousel__prev {
        height: 28px;
        width: 28px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 22px;
        box-shadow: 17px 1px 14px 30px #ffffff;
        margin-right: 24px;

        @media (max-width: 400px) {
            display: none;
        }
        .carousel__icon {
            height: 16px;
            width: 16px;
        }
    }
}
