.stay-list{
    display: grid;
    padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    grid-template-columns: 1fr;
    width: 100%;
    box-sizing: border-box;
    // margin: 0 auto;
    gap: 40px 24px;
    // overflow: hidden;
    // justify-content: center;
    justify-content: space-between;

    a{
        all: unset;
    }

    @media (min-width: 550px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 950px){
        // justify-content: space-between;
        grid-template-columns: repeat(3,1fr)
    }
    @media (min-width: 1127px){
        grid-template-columns: repeat(4,1fr)
    }
    @media (min-width: 1640px){
        grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width: 1880px){
        grid-template-columns: repeat(6, 1fr);
    }

}