@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.alert {
    background-color: lightgray;
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    padding: 10px 20px;
    font-family: CerealReg;
    width: max-content;
    border-radius: 20px;
    z-index: 8000;

    &.alert-success {
        color: #270;
        background-color: #d6e9b7;
    }

    &.alert-error {
        color: rgb(238, 207, 207);
        background-color: #cc6464;
    }
    &.alert-Wishlist {
        background-color: #fafafa;
        i{
            color: #dd1616;
        }
    }
}
