.house-preview {
    .carousel {
        
        @media (max-width: 400px){
            .carousel__viewport{
                max-width: 320px !important;
            }
        }
        .carousel__slide {
            width: 100% !important;

            @media (min-width: 400px){
                max-width: 100% !important;
            }
        }
        .carousel__pagination-button::after {
            padding: 2px;
            width: 0;
            height: 0;
            border-radius: 10em;
            background-color: lightgray;
        }
        .carousel__pagination-button--active::after {
            background-color: #fff;
        }
        .carousel__pagination {
            padding: 0;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
        .carousel__prev,
        .carousel__next {
            opacity: 0;
            transition: opacity 0.4s;
        }
        &:hover {
            .carousel__prev,
            .carousel__next {
                background: #fff !important;
                border-radius: 5em;
                opacity: 1;
            }
        }
        .carousel__next--disabled, .carousel__prev--disabled{
            cursor: auto;
            pointer-events: none;
            opacity: 0 !important;
        }
    }
}
