.my-stay-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .my-stay-list {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: space-between;

        .my-stay-preview {
            a {
                text-decoration: none;
            }
            .my-stay-imgs {
                display: grid;
                grid-template: repeat(2, 107px) / 2fr 1fr;
                border-radius: 20px;
                gap: 5px;
                margin-bottom: 15px;

                :first-child {
                    grid-column: 1;
                    grid-row: 1/-1;
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                }
                :nth-child(2) {
                    border-top-right-radius: 15px;
                }
                :nth-child(3) {
                    border-bottom-right-radius: 15px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    color: #222222;
                    object-fit: cover;
                }
            }
            .my-stay-options {
                display: grid;
                grid-template-columns: 5fr 1fr;
                gap: 10px;

                > * {
                    border-radius: 5px;
                    padding: 5px;
                    border: 0;
                }

                .update-btn {
                    background-color: lightblue;
                }

                .elipsis-btn {
                    background-color: lightgray;
                    position: relative;
                    .delete-btn {
                        position: absolute;
                        background-color: rgb(249, 119, 119);
                        top: -50%;
                        left: 100%;
                        border-radius: 5px;
                        padding: 5px 40px;
                    }
                }
            }
        }
    }
}

.my-stay-else {
    display: grid;
    place-content: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 20px 13px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    padding: 10px;
    justify-content: center;

    .stay-wrapper {
        text-align: center;
    }

    button {
        @include reserve-btn();
        width: 300px;
    }
}
