.main-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  width: 355px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  transition: box-shadow 0.2s ease;
}

.main-search {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    padding-left: 8px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: #f0f8ff00;
  }
}

.add-guests-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.little-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  img {
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
  }
}

span {
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  background-color: #dddddd;
}

button{
    div{
        color: #222222;
        font-size: 14px;
        
    }
}