@font-face {
    font-family: ManRope;
    src: '../fonts/Manrope-SemiBold.ttf'
}

@font-face {
    font-family: CerealBd;
    src: url(../fonts/AirbnbCereal_W_XBd.otf);
}
@font-face {
    font-family: CerealMd;
    src: url('../fonts/AirbnbCereal_W_Md.otf') format('opentype')
}
@font-face {
    font-family: avenir;
    src: url(../fonts/AvenirLTStd-Medium.otf)
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.ttf)
}
