@font-face {
    font-family: CerealMd;
    src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: CerealReg;
    src: url(../fonts/Airbnb_Cereal-Book.ttf);
}
@font-face {
    font-family: CerealBd;
    src: url(../fonts/Airbnb_Cereal-Bold.ttf);
}